# Node.js
node_modules/
.env
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
.nyc_output
.tmp
.webassets
.vscode/*
.idea/
.vs/
*.log
*.sql
*.sqlite
*.sqlite-journal
*.sublime*
*.pid
*.seed
*.patch
*.diff
*.orig
*.rej
*.bak
*.swp
*.swo
*.swn
*.un~
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.dmg
*.iso
*.jar
*.war
*.ear
*.class
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.cache
*.project
*.settings
*.classpath
.eslintcache
.stylelintcache
*.tgz
*.woff
*.woff2
*.eot
*.ttf
*.otf
*.map
*.min.css
*.min.js
*.css.map
*.js.map
*.flow
*.tsbuildinfo
*.d.ts
*.scss.map
*.less.map
*.styl.map
*.html
*.txt
*.xml
*.yml
*.yaml
*.md
*.lock
*.editorconfig
.npmrc
.yarnrc
.bowerrc
.jshintrc
.csslintrc
.todo
.doc

# IDEs and other
.project
.classpath
.settings
.idea
.vscode
*.iml
*.iws
*.ipr
.ignore

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini